body {
    margin: 0;
    background-color: #2A4759;
    color: white;
    font-family: 'PT Sans', sans-serif;
    line-height: 2rem;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgba(255,255,255,0.1);
    align-items: baseline;
    width: 100vw;
}


header h1 a {
    text-decoration: none;
    color: #F2AF5C;
    padding: 0 16px;
}

header h1 a:hover {
    color: white;
}


#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    color: #F2AF5C;
}



#welcome {
    height: 100vh;
    padding: 15rem;
    display: flex;
    flex-direction: row;
}



main {
    text-align: center;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 3s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 90% 90%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }


  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

#about {
    margin: 20%;
    height: 100vh;
    padding: 15rem;
}

#experience {
    margin: 20%;
    height: 100vh;
    padding: 15rem;
}

#education {
    margin: 20%;
    height: 100vh;
    padding: 15rem;
}

#projects {
    margin: 20%;
    height: 100vh;
    padding: 15rem;
}

#contact {
    margin: 20%;
    height: 100vh;
    padding: 15rem;
    text-align: left;
}

textarea {
    height: 5rem;
    width: 200px;
    text-align: left;
}

#contact #submit {
    /* background-color: #F2AF5C; */
    background-color: #2A4759;
    border: 2px solid;
    color: #F2AF5C;
    padding: 0.3rem;
    transition: all 0.25s;
}

#contact #submit:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

